
<ng-container *ngIf="type !== 'FUNCTION'; else typeFunction">
    <input [id]="id" class="formula-element" pInputText [value]="value" (change)="onChange($event)" />
    <p-treeSelect
        class="formula-element-symbol"
        [(ngModel)]="selectedValueType" 
        [options]="valueTypes" 
        (onNodeSelect)="onSelect($event)"
    ></p-treeSelect>
</ng-container>

<ng-template #typeFunction>
    <!-- <span class="formula-element">
        {{ value }}
    </span> -->
    <formula-function
        [arguments]="arguments"
        [functionName]="value"
    ></formula-function>
</ng-template>


