@import '../../../shared-styles/colors';

.formula-element {
    display: flex;
    align-items: center;
    &__input {
        width: 3.75rem;
        height: 40px;
        border-color: $elementBorder;
    }
}

