@import '../../../shared-styles/colors';

.toast-notification {
    min-width: 18rem;
    padding: 1rem 0.5rem 1rem 1.5rem;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &.success {
        background-color: $toastBackgroundSuccess;
    }
    &.error {
        background-color: $toastBackgroundError;
    }
    span {
        color: $whiteColor;
        font-size: 1rem;
        font-weight: 600;
    }
}