.toast-notification {
    min-width: 300px;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &.success {
        background-color: rgb(192, 243, 192);
    }
    &.error {
        background-color: rgb(243, 166, 166);
    }

}