

.formula-paren {
    padding: 5px;
    // background-color: lightgreen;
    &__block {
        position: relative;
        width: 100%;
        display: inline-flex;
        transition: 0.5s all ease;
        &--buttons {
            // visibility: hidden;
            position: absolute;
            top: -17px;
            right: -8px;
            z-index: 1;
            display: flex;
            gap: 4px;
            &-menu {
                border-radius: 50%;
                height: 1.5rem;
                background-color: #fffaec;
                color: rgb(243, 202, 98);
                border: 1px solid rgb(247, 233, 197);
                width: 1.5rem;
                font-size: 1rem;
                cursor: pointer;
            }

        }
        // &:hover {
        //     .formula-paren__block--buttons {
        //         visibility: visible;
        //     }
        // }
    }
}