<span class="formula-paren">
    <span class="formula-paren__block" *ngIf="expression">
        <formula-operator
            [operatorType]="expression?.type"
            [leftSide]="expression?.left"
            [rightSide]="expression?.right"
        ></formula-operator>

        <span class="formula-paren__block--buttons">
            <p-menu *ngIf="isMenuOpen" [model]="items"></p-menu>
            <button 
                class="formula-paren__block--buttons-menu" 
                pTooltip="Show options" 
                tooltipPosition="top"
                (click)="showMenu(id)">
                <span>...</span>
            </button>
        </span>
    </span>
</span>



