<span *ngIf="expression" class="formula-paren">
    <!-- #region BLOCK OPERATION -->
    <formula-operator
        [operatorType]="expression?.type"
        [leftSide]="expression?.left"
        [rightSide]="expression?.right"
    ></formula-operator>
    <!-- #endregion -->

    <!-- #region BLOCK BUTTONS -->
    <span class="formula-paren__buttons">
        <p-menu *ngIf="isMenuOpen" [model]="items"></p-menu>
        <button 
            class="formula-paren__buttons--menu" 
            pTooltip="{{ 'paren.tooltip_button' | translate }}" 
            tooltipPosition="top"
            (click)="showMenu(id)">
            <span>...</span>
        </button>
    </span>
    <!-- #endregion -->
</span>



