<span class="formula-function">
    <span class="formula-function__label">{{ functionName }}</span>
    <!-- #region BLOCK WITH OPERATION -->
    <ng-container *ngIf="arguments[0]?.left && arguments[0]?.right; else onlyType">
        <formula-operator
            [operatorType]="arguments[0]?.type"
            [leftSide]="arguments[0]?.left"
            [rightSide]="arguments[0]?.right"
        ></formula-operator>
    </ng-container>
    <!-- #endregion -->
    
    <!-- #region BLOCK WITH SINGLE ELEMENT -->
    <ng-template #onlyType>
        <formula-element 
            [type]="arguments[0]?.type" 
            [value]="arguments[0]?.value"
        ></formula-element>
    </ng-template>
    <!-- #endregion -->

    <!-- #region MENU BUTTONS -->
    <span class="formula-function__buttons">
        <p-menu *ngIf="isMenuOpen" [model]="items"></p-menu>
        <button 
            class="formula-function__buttons--menu" 
            pTooltip="{{ 'paren.tooltip_button' | translate }}" 
            tooltipPosition="top"
            (click)="showMenu(id)">
            <span>...</span>
        </button>
    </span>
    <!-- #endregion -->
</span>
