@import '../../../shared-styles/colors';

.formula-function {
    padding: 0.125rem 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border: 1px solid $functionBlockBorder;
    background-color: $functionBlockBackground;
    border-radius: 6px;
    position: relative;
    &__label {
        height: 40px;
        border-radius: 6px;
        background-color: $functionBlockBorder;
        padding: 0.4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: $whiteColor;
    }
    &__buttons {
        position: absolute;
        top: -14px;
        right: 19px;
        z-index: 1;
        display: flex;
        gap: 0.25rem;
        &--menu {
            border-radius: 50%;
            height: 1.5rem;
            background-color: $functionBlockBackground;
            border: 1px solid $functionBlockBorder;
            width: 1.5rem;
            font-size: 1rem;
            font-weight: 700;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-bottom: 7px;
            span {
                color: $functionBlockLabel;
                font-weight: 700;
            }
        }
    }
}