@import '../../../shared-styles/colors';

.alert {
    display: flex;
    flex-direction: column;
    &__main-info {
        display: flex;
        align-items: center;
        gap: 2rem;
        p {
            font-size: 1.1rem;
            font-size: 600;
            color: $errorColor;
        }
    }
    &__examples {
        p, li {
            font-size: 0.9rem;
            color: $neutralDarkColor;
            font-style: italic;
        }
        ul {
            list-style: circle;
        }
    }
}
