.alert {
    display: flex;
    flex-direction: column;
    &__main-info {
        display: flex;
        align-items: center;
        gap: 2rem;
        p {
            font-size: 1.2rem;
        }
    }
    &__examples {
        p, li {
            font-size: 0.9rem;
            color: #999;
            font-style: italic;
        }
        ul {
            list-style: circle;
        }
    }
}
