<div class="alert-notification">
    <div class="alert-notification__main-info">
        <p>{{ 'alert.format_not_allowed' | translate }}</p>
        <button 
            pButton 
            pRipple type="button" 
            icon="pi pi-bell" 
            class="p-button-rounded p-button-warning p-button-outlined"
            pTooltip="{{ 'alert.tooltip_button' | translate }}"
            (click)="toggleExamples()"
        ></button>
    </div>

    <div *ngIf="showExamples" class="alert-notification__examples">
        <p>{{ 'alert.examples' | translate }}</p>
        <ul>
            <li>2 + 1</li>
            <li>(4 - 3) / (2 * $a)</li>
            <li>(6 + 2) / 4</li>
            <li>(4 - SQR($b - 8)) / (2 * $a)</li>
        </ul>
    </div>
</div>

