// Bootstrap breakpoints
$size-xs: 375px;
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1280px;
$size-xxl: 1400px;
$size-xxxl: 1600px;

// Angular services breakpoints
$size-XSmall: 599.98px;
