$mainColor: #64748B;
$secondaryColor: #35abc6;

$parenBlockBackground: #fffaec;
$parenBlockBorder: #f7e9c5;
$parenBlockText: #d1af57;
$elementBackground: #ffedef;
$elementBorder: #f1dbde;
$symbolBackground: #e6fff9;
$symbolBorder: #c7f3e8;
$functionBlockBackground: #f8deff;
$functionBlockBorder: #e390ee;
$functionBlockLabel: #9f58a8;

$toastBackgroundSuccess: #8fdb8f;
$toastBackgroundError: #f3a6a6;

$blackColor: #2a2a2a;
$whiteColor: #ffffff;
$errorColor: #BE020B;


$neutralDarkColor: #9d9d9d;
$neutralExtraLightColor: #fafafa;
$neutralLightColor: #E0E0E0;


