// CORPORATIVES COLORS
$main-color: #002841;
$secondary-color: #35abc6;
$tertiary-color: #0546461a;
$complementary-color: #05464633;

$parenBlockBackground: #fffaec;
$parenBlockBorder: #f7e9c5;
$parenBlockText: #d1af57;
$elementBackground: #ffedef;
$elementBorder: #f1dbde;
$symbolBackground: #e6fff9;
$symbolBorder: #c7f3e8;

// GENERAL COLORS
$black-color: #000000;
$light-green-color: #99cc66;
$black-color-20perc: #00000033;
$white-color: #ffffff;
$pepper-color: #df0024;
$white-color-30perc: #ffffff4d;

// NOTIFICATIONS COLORS
$error-color: #be020b;
$error-highlight-color: #b804211a;
$success-color: #058303;
$success-highlight-color: #0583031a;
$warning-color: #ed8b00;
$warning-highlight-color: #ffd1001a;
$warning-dark-highlight-color: #ed8b0080;
$info-color: #35abc6;
$info-highlight-color: #35abc633;

// NEUTRAL COLORS
$neutral-dark-color: #9d9d9d;
$neutral-regular-color: #bdbdbd;
$neutral-light-color: #e0e0e0;
$neutral-extra-light-color: #fafafa;
$neutral-light-color-50perc: #e0e0e080;

// HIGHLIGHT ROWS GRID COLORS
$error-row-grid-highlight-color: #be020b1a;
$warning-row-grid-highlight-color: #ed8b001a;
$light-row-grid-highlight-color: #fafafa;
