$mainColor: #64748B;
$secondaryColor: #35abc6;

$tertiary-color: #0546461a;
$complementary-color: #05464633;

$parenBlockBackground: #fffaec;
$parenBlockBorder: #f7e9c5;
$parenBlockText: #d1af57;
$elementBackground: #ffedef;
$elementBorder: #f1dbde;
$symbolBackground: #e6fff9;
$symbolBorder: #c7f3e8;
$functionBlockBackground: #f8deff;
$functionBlockBorder: #e390ee;
$functionBlockLabel: #9f58a8;

$toastBackgroundSuccess: #8fdb8f;
$toastBackgroundError: #f3a6a6;

$blackColor: #2a2a2a;
$light-green-color: #99cc66;
$whiteColor: #ffffff;
$errorColor: #be020b;

// NOTIFICATIONS COLORS
$error-highlight-color: #b804211a;
$success-color: #058303;
$success-highlight-color: #0583031a;
$warning-color: #ed8b00;
$warning-highlight-color: #ffd1001a;
$warning-dark-highlight-color: #ed8b0080;
$info-color: #35abc6;
$info-highlight-color: #35abc633;

// NEUTRAL COLORS
$neutralDarkColor: #9d9d9d;
$neutral-regular-color: #bdbdbd;
$neutral-light-color: #e0e0e0;
$neutralExtraLightColor: #fafafa;
$neutral-light-color-50perc: #e0e0e080;

// HIGHLIGHT ROWS GRID COLORS
$error-row-grid-highlight-color: #be020b1a;
$warning-row-grid-highlight-color: #ed8b001a;
$light-row-grid-highlight-color: #fafafa;
