@import '_colors.scss';

// PRIME NG LIBRARY
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
    display: none;
}

.formula-element-symbol .p-treeselect {
    background: $elementBackground !important;
    border-color: $elementBorder !important;
    height: 40px !important;
}

.formula-symbol .p-treeselect {
    background: $symbolBackground !important;
    border-color: $symbolBorder!important;
    height: 40px !important;
}

.formula-paren-button .pi {
    font-size: 0.75rem !important;
}