.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
    display: none;
}

.formula-paren-button.p-button.p-button-icon-only.p-button-rounded {
    height: 1.5rem !important;
}
.formula-paren-button.p-button-outlined .p-button-rounded .p-button-warning {
    height: 1.5rem !important;
    width: 1.5rem !important;
}
.formula-paren-button.p-button.p-button-icon-only {
    width: 1.5rem !important;
}
.p-button.p-button-warning.p-button-outlined, .p-buttonset.p-button-warning > .p-button.p-button-outlined, .p-splitbutton.p-button-warning > .p-button.p-button-outlined {
    background-color: #fffaec !important;
    // color: rgb(247, 233, 197) !important;
    border-color: rgb(247, 233, 197) !important;
}

.formula-element-symbol .p-treeselect {
    background: #ffedef !important;
    border-color: rgb(241, 219, 222) !important;
    height: 40px !important;
}

.formula-symbol .p-treeselect {
    background: #e6fff9 !important;
    border-color: rgb(199, 243, 232) !important;
    height: 40px !important;
}

.formula-paren-button .pi {
    font-size: 0.75rem !important;
}