@import '../shared-styles/utils';
@import '../shared-styles/colors';


.app-container {
    width: 100%;
    position: relative;
    
    &__header {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem $paddingContainer;
        height: $heightHeaderDesktop;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        z-index: 1;
        &--title {
            display: flex;
            align-items: center;
            gap: 2rem;
            img {
                width: 3rem;
            }
            span {
                font-size: 2.5rem;
                font-weight: 700;
                color: $secondary-color;
            }
        }
        &--settings {
            display: flex;
        }

    }
    &__content {
        width: 100%;
        padding: 1rem $paddingContainer 2rem;
        position: absolute;
        top: 96px;
        left: 0;
        height: calc(100vh - $heightHeaderDesktop);
        background-color: $neutral-extra-light-color;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &--welcome {
            font-size: 2rem;
            color: $main-color;
            margin-bottom: 1.5rem;
            font-weight: 600;
        }
        &--visualizer {
            display: flex;
            flex-direction: row;
            gap: 3rem;
            width: 100%;
            &-block {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 1rem;
                textarea {
                    width: 100%;
                }
                button {
                    width: inherit;
                }
                pre {
                    width: 100%;
                    margin: 0;
                    font-size: 0.8rem;
                    font-family: monospace;
                    border: 1px solid #ddd; 
                    max-height: 202px; 
                    overflow-y: auto;
                    background-color: #fff;
                    padding: 0.75rem;
                    border-radius: 6px;
                }
            }
        }
        &--converter {
            width: 100%;
            &-title {
                margin: 0 0 1rem;
                font-size: 1.2rem;
                font-weight: 600;
            }
            &-view {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 20px;
                border: 1px solid #ddd;
                padding: 1.25rem 1rem 4rem 1rem;
                background-color: #fff;
                border-radius: 6px;
            }
        }
    }
    &__toast {
        position: absolute;
        top: 120px;
        right: 40px;
    }
}


@media(max-width: $size-xxl) {
    .app-container {
        &__header {
            padding: 1rem $paddingContainerXxl;
        }
        &__content {
            padding: 1rem $paddingContainerXxl 2rem;
        }
    }
}

@media(max-width: $size-lg) {
    .app-container {
        &__header {
            padding: 1rem $paddingContainerLg;
        }
        &__content {
            padding: 1rem $paddingContainerLg 2rem;
            &--visualizer {
                flex-direction: column;
                &-block {
                    width: 100%;
                    align-items: flex-start;
                    .p-float-label {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width: $size-md) {
    .app-container {
        &__header {
            padding: 1rem $paddingContainerMd;
            &--title {
                img {
                    width: 1.5rem;
                }
            }
        }
        &__content {
            padding: 1rem $paddingContainerMd 2rem;
        }
    }
}