
<span class="formula-operator">
    <span class="formula-operator__left" *ngIf="leftSide?.type === 'PAREN'; else noParenLeft">
        <formula-paren [expression]="leftExpression"></formula-paren>
    </span>
    
    <ng-template #noParenLeft>
        <formula-element 
            [id]="elementId"
            [type]="leftSingleElement.type" 
            [value]="leftSingleElement.value"
            [arguments]="leftSingleElement.arguments"
            [formula]="formula"
            (elementEvent)="onElementEvent($event)"
        ></formula-element>
        <!-- <button>+</button> -->
    </ng-template>
    
    
    <span class="formula-operator__symbol">{{ operatorType }}</span>
    <!-- <span class="formula-operator__symbol">    
        <formula-element
            [type]="operatorType" 
            [value]="operatorType"
        ></formula-element>
    </span> -->

    
    <span class="formula-operator__right" *ngIf="rightSide?.type === 'PAREN'; else noParenRight">
        <formula-paren [expression]="rightExpression"></formula-paren>
    </span>
    
    <ng-template #noParenRight>
        <formula-element
            [type]="rightSingleElement.type" 
            [value]="rightSingleElement.value"
            [arguments]="rightSingleElement.arguments"
            [id]="elementId"
        ></formula-element>
    </ng-template>
</span>

<!-- <pre>{{ formulaOperator }}</pre> -->
