
<div class="formula-operator">
    <span  class="formula-operator__left" *ngIf="leftSide?.type === 'PAREN'; else noParenLeft">
        <formula-paren [id]="idParenLeft" [expression]="leftExpression"></formula-paren>
    </span>
    
    <ng-template #noParenLeft>
        <formula-element 
            [type]="leftSingleElement.type" 
            [value]="leftSingleElement.value"
            [arguments]="leftSingleElement.arguments"
            (submitElementEvent)="onElementEvent($event)"
        ></formula-element>
    </ng-template>
    
    
    <span class="formula-operator__symbol">
        <formula-symbol
            [operatorType]="operatorType"
            (submitSymbolEvent)="onSymbolEvent($event)"
        ></formula-symbol>
    </span>

    
    <span class="formula-operator__right" *ngIf="rightSide?.type === 'PAREN'; else noParenRight">
        <formula-paren [id]="idParenRight" [expression]="rightExpression"></formula-paren>
    </span>
    
    <ng-template #noParenRight>
        <formula-element
            [type]="rightSingleElement.type" 
            [value]="rightSingleElement.value"
            [arguments]="rightSingleElement.arguments"
            (submitElementEvent)="onElementEvent($event)"
        ></formula-element>
    </ng-template>
</div>



<!-- <pre>{{ formulaOperator }}</pre> -->
