<!-- #region ALERT NOTIFICATION -->
<alert-notification *ngIf="leftSingleElement.value === undefined || rightSingleElement.value === undefined; else allowedFormat"></alert-notification>
<!-- #endregion -->

<!-- ------------------------------------------- -->
<!-- #region BLOCK OPERATION -->
<ng-template #allowedFormat>
    <div class="formula-operator">
        <!-- #region LEFT BLOCK -->
        <span 
            *ngIf="leftSide?.type === 'PAREN' && leftSide?.expression; else noParenLeft"
            class="formula-operator__left">
                <formula-paren [id]="parenLeftId" [expression]="leftExpression"></formula-paren>
        </span>
        
        <ng-template #noParenLeft>
            <formula-element 
                [type]="leftSingleElement.type" 
                [value]="leftSingleElement.value"
                [arguments]="leftSingleElement.arguments"
                (submitElementEvent)="onElementEvent($event)"
            ></formula-element>
        </ng-template>
        <!-- #endregion -->
        
        <!-- #region SYMBOL BLOCK -->
        <span class="formula-operator__symbol">
            <formula-symbol
                [operatorType]="operatorType"
                (submitSymbolEvent)="onSymbolEvent($event)"
            ></formula-symbol>
        </span>
        <!-- #endregion -->
        
        <!-- #region RIGHT BLOCK -->
        <span
            *ngIf="rightSide?.type === 'PAREN' && rightSide?.expression; else noParenRight" 
            class="formula-operator__right">
                <formula-paren [id]="parenRightId" [expression]="rightExpression"></formula-paren>
        </span>
        
        <ng-template #noParenRight>
            <formula-element
                [type]="rightSingleElement.type" 
                [value]="rightSingleElement.value"
                [arguments]="rightSingleElement.arguments"
                (submitElementEvent)="onElementEvent($event)"
            ></formula-element>
        </ng-template>
        <!-- #endregion -->
    </div>
</ng-template>
<!-- #endregion -->






