@import '../../../shared-styles/colors';

.formula-operator {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.7rem;
    padding: 0.3rem;
    &__left, &__right {
        background-color: $parenBlockBackground;
        padding: 0.25rem 0.125rem;
        border: 1px solid $parenBlockBorder;
        border-radius: 6px;
    }

}

