
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
    display: none;
}


.p-button.p-button-icon-only.p-button-rounded {
    height: 2rem !important;
}
.p-button.p-button-icon-only {
    width: 2rem !important;
}